attrs==20.3.0
importlib-resources==5.1.2
iniconfig==1.1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
nmigen==0.3.dev243+gf7c2b94
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
pyvcd==0.2.4
toml==0.10.2
